/* General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Page section style */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: #006aa7;
  border: 0.2em solid #ccc;
  border-radius: 1.5em;
}

/* Card top style */

.card header {
  height: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  color: white;
}

/* Card bottom style */

.card footer {
  height: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  color: yellow;
}

/* Card middle section styles */

.card article {
  background-color: #fecc00;
  height: 12.0em;
}

.card article img {
  max-height: 100%;
  width: 12.0em;
  float: right;
}

.card article p {
  margin-top: 0;
  margin-left: 1em;
  padding-top: 2.0em;
  color: blue;
}
